.content-5days{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.forescast-5days{
    text-align: center;
    background-color: #fff;
    width: 80%;
    border-radius: 20px;
    margin-top: 30px;

    h3{
        font-size: 1.5rem;
    }
    
}

.forecast-list {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;

    .forecast-item {
        color: #fff;
        background-color: #0979b0;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
}